<md-dialog aria-label="Registrar Vehículo">
  <form ng-cloak name="form" ng-submit="form.$valid && enviar()" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Registrar Vehículo</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <md-icon md-svg-src="media/iconos/ic_close_white.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Placa</label>
          <input ng-model="data.placa" name="placa" required>
          <div ng-messages="form.placa.$error">
            <div ng-message="required">Este campo es requerido.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
           <label>Tipo</label>
            <md-select ng-model="data.tipo" name="tipo" required>
              <md-option ng-repeat="tipo in tipos"  value="[[tipo.id]]">
                [[tipo.nombre]]
              </md-option>
            </md-select>
            <div ng-messages="form.tipo.$error">
              <div ng-message="required">Este campo es requerido.</div>
            </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class=" md-raised red" ng-click="closeDialog()" flex>
        Cancelar
      </md-button>
      <md-button class="md-primary md-raised" type="submit" flex>
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
