{% load static %}
<html lang="es" ng-app="App" ng-cloak>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="{% static 'bower_components/angular-material/angular-material.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    </head>
    <body ng-controller="AppCtrl" class="color-fondo" id="popupContainer">
        <!--
    Your HTML content here
  -->
            <md-toolbar>

                <div class="md-toolbar-tools">
                    <span>Luxury Service</span>

                    <!-- fill up the space between left and right area -->
                    <span flex></span>

                    <div class=""></div>
                    <md-button>
                      <md-icon md-svg-src="media/iconos/ic_exit.svg" aria-label="Exit" ng-click="cerrarSesion()">
                        <md-tooltip md-direction="bottom">
                          Cerrar sesión
                        </md-tooltip>
                      </md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <section>
                <md-subheader class="color-fondo">
                      <md-autocomplete md-no-float md-selected-item="selectedItem"  md-autofocus md-min-length="0" md-autoselect="true" md-search-text-change="listVehiculos()" md-selected-item-change="vehiculoActual()"	md-search-text="search" md-items="vehiculo in vehiculos" md-item-text="vehiculo.placa" placeholder="Placa Vehículo">
                        <span md-highlight-text="search">[[vehiculo.placa]]</span>
                         <md-not-found>
                          No hay hay resultados para "[[search]]"
                          <a ng-click="nuevo(searchText)" class="blue">Click para registrar</a>
                        </md-not-found>
                      </md-autocomplete >
                      <div layout-gt-sm="row" layout-gt-xs="row" layout-gt-dm="row">
                          <md-input-container class="md-block" flex-gt-sm flex-gt-xs flex-gt-dm>
                            <label>Tipo de vehículo</label>
                            <input ng-model="tipo" ng-disabled="true">
                          </md-input-container>
                          <md-input-container class="md-block" flex-gt-sm flex-gt-xs flex-gt-dm>
                            <label>Nombre del Cliente</label>
                            <input ng-model="nombre" ng-disabled="true">
                          </md-input-container>
                          <md-input-container class="md-block" flex-gt-sm flex-gt-xs flex-gt-dm>
                            <label>identificación</label>
                            <input ng-model="identificacion" ng-disabled="true">
                          </md-input-container>
                      </div>
                </md-subheader>
            </section>
            <md-content>
              <div class="layout-row color-fondo" layout="row" layout-xs="column" layout-align="center stretch">
                      <md-card flex="20" flex-xs="100">
                       <md-card-content>
                          <h3>En Servicio</h3>
                          <md-divider></md-divider>
                          <md-radio-group ng-model="selectedPlaca" ng-change="serviciosList()">
                            <div ng-repeat='placa in placas' class="row">
                              <div flex layout='row' layout-padding layout-align="start center" >
                                <md-radio-button flex
                                    ng-value="placa"
                                    class="md-primary" >
                                  [[placa.placa]]
                                   <md-icon class="" ng-if="placa.ordenv" aria-label="Person" md-svg-icon="/media/iconos/ic_assignment.svg"></md-icon>
                                </md-radio-button>
                              </div>
                            </div>
                          </md-radio-group>
                       </md-card-content>
                      </md-card>
                  <md-card flex="80" flex-xs="100">
                   <md-card-content>
                     <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Servicos Aplicables">
                           <md-list-item ng-repeat="servicio in servicios" ng-if="servicios.length>0">
                             <md-checkbox ng-model="servicioSelect" ng-hide="servicio.estado" ng-class="{'blue': !servicio.estado}" ng-click="changeCheck(servicio)" ng-checked="servicio.status"></md-checkbox>
                             <p>[[servicio.nombre]] <span ng-if="servicio.operario">- [[servicio.operario_nombre]]</span></p>
                              <md-menu class="md-secondary" >
                                  <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                      <md-icon aria-label="Person"  md-svg-icon="/media/iconos/ic_person.svg"></md-icon>
                                  </md-button>
                                  <md-menu-content width="4">
                                    <md-menu-item ng-repeat="operario in operarios">
                                      <md-button ng-click="asignarOperario(operario, servicio)">
                                        [[operario.nombre]]
                                      </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                              </md-menu>
                           </md-list-item>
                           <div layout="row" layout-align="center center" ng-if="servicios.length==0">
                             <div flex="100">
                                <h2 class="text-center">Seleccione una placa</h2>
                             </div>
                           </div>
                        </md-tab>
                        <md-tab label="Servicios por Terminar">
                          <md-list-item ng-repeat="servicio in serviciosPorHacer" ng-if="serviciosPorHacer.length>0">
                            <md-checkbox class="blue" ng-model="servicioSelect" ng-checked="servicio.estado" ng-click="servicioListo(servicio)"></md-checkbox>
                            <p>[[servicio.nombre]] <span ng-if="servicio.operario">- [[servicio.operario_nombre]]</span></p>
                          </md-list-item>
                          <div layout="row" layout-align="center center" ng-if="serviciosPorHacer.length==0">
                            <div flex="100">
                               <h2 class="text-center">No hay ningún servicio por hacer</h12>
                            </div>
                          </div>
                        </md-tab>
                     </md-tabs>
                   </md-card-content>
                      <md-card-footer>
                       <md-divider></md-divider>
                       <div layout="row" layout-align="center center">
                        <div flex="50">
                           <p class="center">
                             Total x servicios
                             <h2>$[[totalService]]</h2>
                           </p>
                        </div>
                        <div flex="50">
                          <md-button ng-disabled="habilitarOrden" ng-click="cerrarOrden()" class="md-raised md-primary">Finalizar Orden</md-button>
                        </div>
                       </div>
                     </md-card-footer>
                  </md-card>
              </div>
            </md-content>
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-aria/angular-aria.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-messages/angular-messages.min.js' %}"></script>
        <!-- Angular Material Library -->
        <script src="{% static 'bower_components/angular-material/angular-material.min.js' %}"></script>
        <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
        <!-- Your application bootstrap  -->
    </body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->
