.radioButtondemoMultiColumn div.radioDemo2 {
    margin-bottom: 20px;
}

.radioButtondemoMultiColumn h2 {
    margin-left: 15px;
}

.radioButtondemoMultiColumn p {
    width: 400px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    border-top: 2px solid #ddd;
}

.radioButtondemoMultiColumn .md-checked {
    background-color: #ECFAFB;
    border-radius: 2px;
}

.radioButtondemoMultiColumn md-button.md-raised, .radioButtondemoMultiColumn button.md-raised {
    width: 200px;
}

.radioButtondemoMultiColumn .row {
    border-bottom: 1px dashed #ddd;
}

.radioButtondemoMultiColumn div.row:last-child {
    border-bottom: 0px dashed #ddd;
}

.radioButtondemoMultiColumn .summary {
    width: 100%;
    padding-top: 10px;
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: -5px;
}

.radioButtondemoMultiColumn .title {
    font-weight: bolder;
}

.radioButtondemoMultiColumn .selectedUser .md-checked {
    padding: 8px;
    width: 100px;
}

.bidi {
  padding: 10px;
}

.padding-0 .md-subheader-inner{
  padding: 0px;
}

.color-fondo{
  background-color: rgb(225, 245, 254);
}

.autocomplete-pd{
  margin-left: -10px;
  padding-top: 10px;
}

.pd-0-6{
  padding-left: 6px;
}


md-checkbox.md-checked.blue .md-icon {
 background-color: #29b6f6;
}

.red{
  background-color: #F44336 !important;
  color: white !important;
}

.text-center{
  text-align: center;
}

md-card-content{
  max-height: 550px;
}

md-tab-content{
  max-height: 535px;
  overflow: auto;
}
